.gray{
	border: solid 1px gray;
	background-color: gray;
	height:10vh ;
	text-align: right;
	font-size: 30px;
}

.lg{
	border: solid gray 1px;
	height: 10vh;
	background-color: lightgreen;
	text-align: center;
    font-size: 30px ;

}
.orange{
	border: solid gray 1px;
	background-color: orange;
	font-size: 30px;

}
