.nav-home{
	background-color:black ;
	text-decoration-color: white;
}

.navbar-light .navbar-nav .nav-color{
	color: ;
}
.navbar-light .navbar-brand{
	color: ;
	font-weight: bold;
}

.carousel-page{
	height: 550px;
}

.he2{
	margin-bottom: 5px;
	margin-top: 20px;
}
.footer{
	background-color: ;
	padding-bottom: 2px;
	padding-top: 5px;
	color: white;
}